{
    "id": "com.flutter.app.{{webosAppId}}",
    "version": "1.0.0",
    "vendor": "LG Electronics",
    "type": "native",
    "main": "{{projectName}}",
    "title": "Flutter {{projectName}} app",
    "icon": "icon.png",
    "iconColor": "#ffffff",
    "largeIcon": "icon.png",
    "handlesRelaunch": true,
    "visible": true,
    "defaultWindowType": "card",
    "trustLevel": "default",
    "locationHint":"none",
    "noSplashOnLaunch":true,
    "spinnerOnLaunch": false,
    "transparent":false,
    "uiRevision": 2,
    "keepAlive": {{keepAlive}},
    "bgImage": "icon.png",
    "requiredACG": [
    ]
}
